body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .grop {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .grop img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: contain;
    width: 100%; 
    display: block;
    object-fit: contain; 
  }
  h1 {
    color: rgb(7, 26, 45);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 8px rgba(255, 98, 0, 0.8), 0 0 10px rgba(255, 217, 0, 0.8), 0 0 20px rgba(255, 115, 0, 0.8);
  }  
button {
    background-color: #0073e6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  
  button:hover {
    background-color: #005bb5;
  }
  
